/* your styles go here */

.t-datepicker .t-check-in {
    background-color: white;
}


.t-datepicker .t-check-out {
    background-color: white;
}

.t-datepicker span {
    display: initial;
}

#statistic-detail-modal .modal-body{
    padding: 2rem;
}

.gj-dropdown-bootstrap-4 {
    float: right;
}
