<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_dash_layout}" lang="en">

<div class="content-inner" layout:fragment="content-section">
    <header class="page-header d-flex">
        <div class="flex-grow-1">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Store Manage</a>
                </li>
            </ul>
        </div>
    </header>

    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
            <div class="table-responsive row bg-white has-shadow">


                <table id="account-table" class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Buyer Phone</th>
                        <th>Buyer Name</th>
                        <th>Total Price</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody id="tblBodyOrder">
                    <!--<tr>-->
                    <!--<th scope="row" data-target="#edit-order-detail-modal" data-toggle="modal" onclick="loadEditForm()">1</th>-->
                    <!--<td data-target="#store-detail-modal" data-toggle="modal">Trà Sữa Gong Cha - 貢茶 - Hồ Tùng Mậu-->
                    <!--</td>-->
                    <!--<td data-target="#store-detail-modal" data-toggle="modal">83 Hồ Tùng Mậu</td>-->
                    <!--<td data-target="#store-detail-modal" data-toggle="modal">Working</td>-->
                    <!--<td data-target="#store-detail-modal" data-toggle="modal">❤❤❤</td>-->
                    <!--<td>-->
                    <!--<a href="#" class="btn btn-danger">Deactive</a>-->
                    <!--</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
                <!-- Modal-->
                <div id="edit-order-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 id="exampleModalLabelStore" class="modal-title"></h4>
                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                                        id="btnCloseModal" aria-hidden="true">×</span></button>
                            </div>

                            <div class="modal-body">
                                <div class="row row-eq-height no-padding">
                                    <div class="col-4  padding-0">
                                        <label>Customer Face</label>
                                        <div class="input-group">
                                            <!--<div class="input-group-prepend">-->
                                            <!--<span class="input-group-text"-->
                                            <!--id="inputGroupFileAddon01">Upload</span>-->
                                            <!--</div>-->
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uplBuyerFace"
                                                       onchange="uplStoreThumbOnChange()">
                                                <label class="custom-file-label" for="uplBuyerFace"
                                                       style="border-radius: 0">Choose file</label>
                                            </div>
                                        </div>
                                        <img id="imgBuyerFace" src="" alt="Buyer" style="width: 256px; height: 256px">
                                    </div>

                                    <div class="col-4 padding-0">
                                        <label>Bill</label>
                                        <div class="input-group">
                                            <!--<div class="input-group-prepend">-->
                                            <!--<span class="input-group-text"-->
                                            <!--id="inputGroupFileAddon02">Upload</span>-->
                                            <!--</div>-->
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uplBill"
                                                       onchange="uplStoreThumbOnChange()">
                                                <label class="custom-file-label" for="uplBill"
                                                       style="border-radius: 0">Choose file</label>
                                            </div>
                                        </div>
                                        <img id="imgBill" src="" alt="Bill" style="width: 100%;">
                                    </div>

                                    <div class="col-4 padding-0">

                                        <div class="form-group">
                                            <label>Order ID</label>
                                            <input type="text" placeholder="Id" class="form-control"
                                                   id="txtOrderId">
                                        </div>
                                        <div class="form-group">
                                            <label>Buyer Phone</label>
                                            <input type="text" placeholder="Buyer Phone" class="form-control"
                                                   id="txtBuyerPhone">
                                        </div>
                                        <div class="form-group">
                                            <label>Buyer Name</label>
                                            <input type="text" placeholder="Buyer Name" class="form-control"
                                                   id="txtBuyerName">
                                        </div>

                                        <div class="form-group">
                                            <label>Shipper Phone</label>
                                            <input type="text" placeholder="Shipper Phone" class="form-control"
                                                   id="txtShipperPhone">
                                        </div>
                                        <div class="form-group">
                                            <label>Shipper Name</label>
                                            <input type="text" placeholder="Shipper Name" class="form-control"
                                                   id="txtShipperName">
                                        </div>

                                        <div class="form-group">
                                            <label for="cbbStatus">Status</label>
                                            <select class="form-control" id="cbbStatus"></select>
                                        </div>

                                    </div>

                                </div>


                                <div class="row row-eq-height no-padding">
                                    <div class="col-4 padding-0">
                                        <div class="form-group">
                                            <label>Longitude</label>
                                            <input type="text" placeholder="Longitude" class="form-control"
                                                   id="txtLongitude">
                                        </div>
                                        <div class="form-group">
                                            <label>Latitude</label>
                                            <input type="text" placeholder="Latitude" class="form-control"
                                                   id="txtLatitude">
                                        </div>

                                    </div>
                                    <div class="col-4 padding-0">
                                        <div class="form-group">
                                            <label>Total Price</label>
                                            <input type="text" placeholder="Total Price" class="form-control"
                                                   id="txtTotalPrice">
                                        </div>
                                        <div class="form-group">
                                            <label>Shipper Earn</label>
                                            <input type="text" placeholder="Shipper Earn" class="form-control"
                                                   id="txtShipperEarn">
                                        </div>
                                    </div>
                                    <div class="col-4 padding-0">
                                        <div class="form-group">
                                            <label>Store Name</label>
                                            <input type="text" placeholder="Store Name" class="form-control"
                                                   id="txtStoreName">
                                        </div>
                                        <div class="form-group">
                                            <label>Customer Description</label>
                                            <input type="text" placeholder="Customer Description" class="form-control"
                                                   id="txtCustomerDescription">
                                        </div>
                                        <div class="form-group">
                                            <label>Note</label>
                                            <input type="text" placeholder="Note" class="form-control"
                                                   id="txtNote">
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12 bg-white">
                                        <table id="order-detail-table" class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Unit</th>
                                                <th>Cost</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tblBodyDetail"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" onclick="sendEdit()">Save</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Modal-->
            </div>
        </div>
    </section>

    <script>
        var uplBuyerFace = document.getElementById("uplBuyerFace");
        var imgBuyerFace = document.getElementById("imgBuyerFace");

        var uplBill = document.getElementById("uplBill");
        var imgBill = document.getElementById("imgBill");

        var txtOrderId = document.getElementById("txtOrderId");
        var txtBuyerName = document.getElementById("txtBuyerName");
        var txtBuyerPhone = document.getElementById("txtBuyerPhone");
        var txtShipperName = document.getElementById("txtShipperName");
        var txtShipperPhone = document.getElementById("txtShipperPhone");
        var cbbStatus = document.getElementById("cbbStatus");

        var txtLatitude = document.getElementById("txtLatitude");
        var txtLongitude = document.getElementById("txtLongitude");

        var txtTotalPrice = document.getElementById("txtTotalPrice");
        var txtShipperEarn = document.getElementById("txtShipperEarn");

        var txtStoreName = document.getElementById("txtStoreName");
        var txtCustomerDescription = document.getElementById("txtCustomerDescription");
        var txtNote = document.getElementById("txtNote");

        var btnCloseModal = document.getElementById("btnCloseModal");
        var tblBodyDetail = document.getElementById("tblBodyDetail");

        var orderList;
        var orderEdit;
        var orderEditPos;
        var fpsApiOrd = fpsBackEnd + MAP_ADM + MAP_API + "/order";


        function fpsFetchData() {
            getOrderList();
            fpsSetCbbStatus(cbbStatus, ORD_STAT_LIST);
        }


        function drawTblOrder() {
            btnCloseModal.click();
            var list = orderList;
            // console.log($('#account-table'));
            $('#account-table').DataTable().destroy();
            var accountTable = $('#account-table').DataTable();
            accountTable.clear().draw();
            for (var i = list.length - 1; i >= 0; i--) {
                var order = list[i];
// console.log(order);
                accountTable.row.add([
                    '<span data-target="#edit-order-detail-modal" data-toggle="modal" onclick="getOrderDetail(' + i + ')" >' + order.id + '</span>',
                    '<span data-target="#edit-order-detail-modal" data-toggle="modal" onclick="getOrderDetail(' + i + ')" >' + order.buyerPhone + '</span>',
                    order.buyerName,
                    order.totalPrice,
                    fpsGetStatMsg(ORD_STAT_LIST, order.status)
                ]).draw();
            }
        }

        function getOrderList() {
            $.ajax({
                type: 'GET',
                url: fpsApiOrd,
                data: {},
                dataType: 'json',
                success: function (response) {
                    orderList = response.data;
                    drawTblOrder();
                },
                error: function (response) {
                    console.log(response);
                }
            })
        }

        function getOrderDetail(pos) {
            orderEditPos = pos;
            if (typeof orderList[pos].createTime === "undefined") {
                $.ajax({
                    type: 'GET',
                    url: fpsApiOrd + "/detail",
                    data: {orderId: orderList[pos].id},
                    dataType: 'json',
                    success: function (response) {
                        orderList[pos] = response.data;
                        orderEdit = orderList[pos];
                        loadEditForm();
                    },
                    error: function (response) {
                    }
                })
            } else {
                orderEdit = orderList[pos];
                loadEditForm();
            }
        }

        function loadEditForm() {

            uplBuyerFace.value = "";
            fpsSetImgSrc(imgBuyerFace, orderEdit.BuyerFace);

            uplBill.value = "";
            fpsSetImgSrc(imgBill, orderEdit.bill);

            txtOrderId.value = orderEdit.id;
            txtBuyerName.value = orderEdit.buyerName;
            txtBuyerPhone.value = orderEdit.buyerPhone;
            txtShipperName.value = orderEdit.shipperName;
            txtShipperPhone.value = orderEdit.shipperPhone;
            cbbStatus.value = orderEdit.status;

            txtLatitude.value = orderEdit.latitude;
            txtLongitude.value = orderEdit.longitude;

            txtTotalPrice.value = orderEdit.totalPrice;
            txtShipperEarn.value = orderEdit.shipperEarn;

            txtStoreName.value = orderEdit.storeName;
            txtCustomerDescription.value = orderEdit.customerDescription;
            txtNote.value = orderEdit.note;


            tblBodyDetail.innerHTML = '';
            var list = orderEdit.detailList;
            for (var i = 0; i < list.length; i++) {
                var pro = list[i];
                var row = '  <td>' + (i + 1) + '</td>\n' +
                    '            <td>' + pro.proName + '</td>\n' +
                    '            <td>' + pro.unitPrice + '</td>\n' +
                    '            <td>' + pro.quantity + '</td>\n' +
                    '            <td>' + (pro.unitPrice * pro.quantity) + '</td>\n';
                tblBodyDetail.innerHTML += row;
            }

        }

        function sendEdit() {
            var formData = new FormData();
            fpsFormAppend(formData, "orderId", orderEdit.id);

            fpsFormAppend(formData, "buyerFace", uplBuyerFace.files[0]);
            fpsFormAppend(formData, "bill", uplBill.files[0]);

            fpsFormAppend2(formData, "buyerName", txtBuyerName.value, orderEdit.buyerName);
            fpsFormAppend2(formData, "buyerPhone", txtBuyerPhone.value, orderEdit.buyerPhone);
            fpsFormAppend2(formData, "shipperName", txtShipperName.value, orderEdit.shipperName);
            fpsFormAppend2(formData, "shipperPhone", txtShipperPhone.value, orderEdit.shipperPhone);
            fpsFormAppend2(formData, "status", cbbStatus.value, orderEdit.status);

            fpsFormAppend2(formData, "latitude", txtLatitude.value, orderEdit.latitude);
            fpsFormAppend2(formData, "longitude", txtLongitude.value, orderEdit.longitude);

            fpsFormAppend2(formData, "totalPrice", txtTotalPrice.value, orderEdit.totalPrice);
            fpsFormAppend2(formData, "shipperEarn", txtShipperEarn.value, orderEdit.shipperEarn);

            fpsFormAppend2(formData, "customerDescription", txtCustomerDescription.value, orderEdit.customerDescription);
            fpsFormAppend2(formData, "note", txtNote.value, orderEdit.note);
            $.ajax({
                type: 'PUT',
                url: fpsApiOrd,
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (response) {
                    if (response.status_code === RESP_SUCCESS) {
                        orderList[orderEditPos] = response.data;
                        drawTblOrder();
                    } else {
                    }
                },
                error: function (response) {
                    alert("Unable to Edit");
                }
            })
        }


    </script>
</div>
</html>