<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<head>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>

<th:block layout:fragment="top-section">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">User Management</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search">
                <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
        </div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
        </ul>
    </div>
</th:block>

<div layout:fragment="content" class="mdl-grid demo-content">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <!-- Primary-colored flat button -->
        <a href="/user-new" class="mdl-button mdl-js-button mdl-button--primary">
            Add New
        </a>
        <!-- Button to trigger Modal-->
        <button class="mdl-button mdl-js-button" id="show-dialog" data-toggle="modal" data-target="#upload-pic">
            Show Modal
        </button>

        <!-- Modal -->
        <dialog id="upload-pic" class="mdl-dialog mdl-typography--text-center">
            <div class="mdl-dialog__content">
                <p>This is add new</p>
                <form action="/user-new" method="post">
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <div>
                            <span th:if="${success != null }" th:text="${success}"></span>
                            <span th:if="${error != null }" th:text="${error}"></span>
                        </div>
                        <input type="hidden" name="id" th:value="${user?.id}">
                        <div id="username-field">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="username" id="username"
                                       th:value="${user?.username}">
                                <label class="mdl-textfield__label" for="username">User Name</label>
                            </div>
                        </div>
                        <div id="fullname-field">

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="fullname" id="fullname"
                                       th:value="${user?.fullname}">
                                <label class="mdl-textfield__label" for="fullname">Fullname</label>
                                <!--<span class="mdl-textfield__error">Enter a valid email!</span>-->
                            </div>

                        </div>

                        <div id="gender-field">

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="gender" id="gender"
                                       th:value="${user?.gender}">
                                <label class="mdl-textfield__label" for="gender">Gender</label>
                                <!--<span class="mdl-textfield__error">Enter a valid email!</span>-->
                            </div>

                        </div>

                        <div id="password-field">

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="password" id="password"
                                       th:value="${user?.password}">
                                <label class="mdl-textfield__label" for="password">Password</label>
                                <!--<span class="mdl-textfield__error">Enter a valid email!</span>-->
                            </div>

                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-grid">
                        <!-- Primary-colored flat button -->
                        <div class="mdl-layout-spacer"></div>
                        <button class="mdl-button mdl-js-button mdl-button--primary" type="submit">
                            Save
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--primary" type="submit" onclick="/user">
                            Save Test
                        </button>
                        <a href="/user" class="mdl-button mdl-js-button mdl-button--primary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </dialog>
        <div class="mdl-layout-spacer"></div>
        <button id="btn-delete-all" class="mdl-button mdl-js-button mdl-button--primary" disabled>
            Delete
        </button>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
        <table id="user-table"
               class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp fullwidth">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Id</th>
                <th>Username</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td class="mdl-data-table__cell--non-numeric"><a th:href="@{'/user-detail'(id=${user.id})}"
                                                                 th:text="${user.id}"></a></td>
                <td th:text="${user.username}"/>
                <td th:text="${user.gender}"/>
                <td><!-- Accent-colored flat button -->
                    <button class="mdl-button mdl-js-button mdl-button--accent" id="deleteBtn"
                            data-th-attr="user-id=${user.id}">
                        Delete
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</html>