<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_dash_layout}" lang="en">

<div class="content-inner" layout:fragment="content-section">
    <header class="page-header d-flex">
        <div class="flex-grow-1">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/account">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/shipper">Shipper</a>
                </li>
            </ul>
        </div>
    </header>

    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
            <div class="table-responsive row bg-white has-shadow">
                <div class="d-flex p-2">
                    <div class="flex-grow-1">
                        <!--<button id="add-new" class="btn btn-primary" data-toggle="modal" data-target="#add-edit-modal">-->
                        <!--Add new-->
                        <!--</button>-->
                    </div>
                    <div>
                        <button id="deactive-sel" class="btn btn-danger">Deactive (0)</button>
                    </div>
                </div>

                <table id="account-table" class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Phone</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">2</th>
                        <td data-toggle="modal" data-target="#add-edit-modal">01234567895</td>
                        <td>Nguyen Van A</td>
                        <td>user1235@test.com</td>
                        <td>
                            <a href="#" class="btn btn btn-danger">Deactive</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td data-toggle="modal" data-target="#add-edit-modal">01234567891</td>
                        <td>Nguyen Van B</td>
                        <td>user1234@test.com</td>
                        <td>
                            <a href="#" class="btn btn btn-danger">Deactive</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Modal-->
                <div id="add-edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="exampleModalLabel" class="modal-title"></h4>
                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                                        aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <!--<p>Lorem ipsum dolor sit amet consectetur.</p>-->
                                <form>
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="text" placeholder="Phone" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" placeholder="Password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Role</label>
                                        <!--<div class="col-sm-9">-->
                                        <select name="role" class="form-control mb-3">
                                            <option>Admin</option>
                                            <option>Member</option>
                                        </select>
                                        <!--</div>-->
                                    </div>
                                    <div class="form-group">
                                        <label>Full Name</label>
                                        <input type="text" placeholder="Full Name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>BirthDay</label>
                                        <div class="input-group date-picker" data-provider="datepicker">
                                            <input type="date" class="form-control" id="datepicker">
                                            <!--<div class="input-group-addon">-->
                                            <!--<span class="glyphicon glyphico"></span>-->
                                            <!--</div>-->
                                            <!--<button type="button" class="btn btn-info" id="datepicker1">-->
                                            <!--<span class="glyphicon glyphicon-search"></span> Search-->
                                            <!--</button>-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" placeholder="Email Address" class="form-control">
                                    </div>

                                    <form>
                                        <div class="form-group">
                                            <div class="text-center">
                                                <img src="/img/avatar-1.jpg" class="card-img" alt="Responsive image">
                                            </div>
                                            <!--<label for="exampleFormControlFile1">Example file input</label>-->
                                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                        </div>
                                    </form>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</html>