<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        .box {
            width: 200px;
            height: 200px;
            display: inline-block;
            margin: 0;
            padding: 0;
        }

        .mark {
            background-color: #A9A9A9;
        }

        .index {
            background-color: #000000;
        }

        .pay {
            width: 400px;
            height: 400px;
            display: block;
            margin: 0;
            padding: 0;
            background-color: darkgreen;
        }
    </style>


</head>
<body>

<div class="box mark"></div>
<div class="box index"></div>
<a href="/pay/init">
    <div class="box pay"></div>
</a>

</body>
</html>