<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_dash_layout}" lang="en">

<div class="content-inner" layout:fragment="content-section">

    <header class="page-header d-flex">
        <div class="flex-grow-1">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/adm/account/mem">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/adm/account/shp">Shipper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adm/account/adm">Admin</a>
                </li>
            </ul>
        </div>
    </header>

    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
            <div class="table-responsive row bg-white has-shadow">

                <div class="d-flex p-2">
                    <div class="flex-grow-1">
                        <button class="btn btn-primary" data-toggle="modal"
                                data-target="#fps-edit-modal" onclick="loadAddForm()">
                            Add new
                        </button>
                    </div>

                </div>
                <!-- Table -->
                <table id="account-table" class="table">
                    <thead>
                    <tr>
                        <th>Phone</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Sum Revenue</th>
                        <th>Status</th>
                    </tr>
                    </thead>

                    <tbody id="tblBodyAcc">
                    <tr data-toggle="modal" data-target="#fps-edit-modal">
                        <td>01234567895</td>
                        <td>Nguyen Van C</td>
                        <td>user1235@test.com</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <!-- Table End -->
                <!-- Modal -->
                <div id="fps-edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog" style="width: content-box;max-width: 1000px">
                        <div class="modal-content" style="max-width: 1000px">
                            <div class="modal-header">
                                <h4 id="exampleModalLabel" class="modal-title"></h4>
                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"
                                        id="btnCloseModal"><span aria-hidden="true">×</span></button>
                            </div>

                            <div class="modal-body">
                                <div class="row row-eq-height no-padding">
                                    <div class="col-4 padding-0">
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="text" placeholder="Phone" class="form-control" id="txtPhone">
                                        </div>
                                        <div class="form-group" id="divPassword">
                                            <label>Password</label>
                                            <input type="password" placeholder="Password" class="form-control"
                                                   id="txtPassword">
                                        </div>
                                        <div class="form-group" id="divSumRevenue">
                                            <label>Sum Revenue</label>
                                            <input type="text" placeholder="Sum Revenue" class="form-control"
                                                   id="txtSumRevenue">
                                        </div>
                                        <div class="form-group">
                                            <label>Full Name</label>
                                            <input type="text" placeholder="Full Name" class="form-control"
                                                   id="txtFullName">
                                        </div>

                                        <div class="form-group">
                                            <label for="cbbSource">Source</label>
                                            <select id="cbbSource" class="form-control mb-3">
                                                <option value="1" title="Facebook ads, Facebook homepage...">facebook
                                                </option>
                                                <option value="2" title="Articles about FPS">magazine</option>
                                                <option value="3" title="From friends, family...">social</option>
                                                <option value="4" title="">other</option>
                                                <option value="5" title="Prefer not to say">none</option>
                                                <option>2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4 padding-0">
                                        <div class="form-group">
                                            <label for="dpDob">Date of Birth</label>
                                            <input type="date" class="form-control" id="dpDob">
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" placeholder="Email Address" class="form-control"
                                                   id="txtEmail">
                                        </div>
                                        <div class="form-group">
                                            <label>Note</label>
                                            <input type="text" placeholder="Note" class="form-control" id="txtNote">
                                        </div>
                                        <div class="form-group">
                                            <label for="cbbPriceLevel">Price Level</label>
                                            <select id="cbbPriceLevel" class="form-control mb-3">
                                                <option value="1" title="Fresh recruited">0.6</option>
                                                <option value="2" title="3 mth exp or 10mil earned">0.7</option>
                                                <option value="3" title="2 years exp">0.8</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-4 padding-0">
                                        <div class="form-group">
                                            <label>Portrait</label>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uplUserFace"
                                                       onchange="uplUserFaceOnChange()">
                                                <label class="custom-file-label" for="uplUserFace"
                                                       style="border-radius: 0">Choose file</label>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <img src="/img/no_img.png" alt="portrait" id="imgUserFace">
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-eq-height no-padding">
                                    <div class="col-12 padding-0">
                                        <div class="form-group">
                                            <label>Introduce</label>
                                            <input type="text" placeholder="Introduce" class="form-control"
                                                   id="txtIntroduce">
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-eq-height no-padding" id="divStatus">
                                    <div class="col-4 padding-0">
                                        <div class="form-group">
                                            <label>Extra Point</label>
                                            <input type="text" placeholder="Extra Point" class="form-control"
                                                   id="txtExtraPoint">
                                        </div>
                                    </div>
                                    <div class="col-4 padding-0">
                                        <div class="form-group">
                                            <label>Report Point</label>
                                            <input type="text" placeholder="Report Point" class="form-control"
                                                   id="txtReportPoint">
                                        </div>
                                    </div>
                                    <div class="col-4 padding-0">
                                        <label for="cbbStatus">Status</label>
                                        <select id="cbbStatus" class="form-control mb-3">
                                        </select>
                                    </div>
                                </div>

                                <div class="row row-eq-height no-padding">
                                    <div class="col-3 padding-0">
                                        <div class="form-group">
                                            <label for="txtNatId" class="form-control-label">Nation ID Number</label>
                                            <input type="text" class="form-control" id="txtNatId">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Front</label>
                                        </div>
                                    </div>
                                    <div class="col-3 padding-0">
                                        <div class="form-group">
                                            <label for="dpNatDate" class="form-control-label">Issue date</label>
                                            <input type="date" class="form-control" id="dpNatDate">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Back</label>
                                        </div>
                                    </div>
                                    <div class="col-3 padding-0">
                                        <div class="form-group">
                                            <label for="txtBikeRegId" class="form-control-label">Bike Register ID
                                                Number</label>
                                            <input type="text" class="form-control" id="txtBikeRegId">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Front</label>
                                        </div>
                                    </div>
                                    <div class="col-3 padding-0">
                                        <div class="form-group">
                                            <label for="dpBikeRegDate" class="form-control-label">Issue date</label>
                                            <input type="date" class="form-control" id="dpBikeRegDate">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label">Back</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-eq-height no-padding">
                                    <div class="col-3 padding-0">
                                        <div class="form-group">
                                            <img id="imgNatFront" src="/img/no_img.png" class="card-img"
                                                 alt="Responsive image">
                                        </div>
                                    </div>
                                    <div class="col-3 padding-0">
                                        <div class="form-group">
                                            <img id="imgNatBack" src="/img/no_img.png" class="card-img"
                                                 alt="Responsive image">
                                        </div>
                                    </div>
                                    <div class="col-3 padding-0">
                                        <div class="form-group">
                                            <img id="imgBikeRegFront" src="/img/no_img.png" class="card-img"
                                                 alt="Responsive image">
                                        </div>
                                    </div>
                                    <div class="col-3 padding-0">
                                        <div class="form-group" style="padding-right: 10px">
                                            <img id="imgBikeRegBack" src="/img/no_img.png" class="card-img"
                                                 alt="Responsive image">
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-eq-height no-padding">
                                    <div class="col-3 padding-0">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input id="uplNatFront" type="file" class="custom-file-input"
                                                       onchange="uplNatFrontOnChange()">
                                                <label class="custom-file-label" for="uplNatFront"
                                                       style="border-radius: 0">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 padding-0">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input id="uplNatBack" type="file" class="custom-file-input"
                                                       onchange="uplNatBackOnChange()">
                                                <label class="custom-file-label"
                                                       style="border-radius: 0">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 padding-0">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input id="uplBikeRegFront" type="file" class="custom-file-input"
                                                       onchange="uplBikeRegFrontOnChange()">
                                                <label class="custom-file-label"
                                                       style="border-radius: 0">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 padding-0">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input id="uplBikeRegBack" type="file" class="custom-file-input"
                                                       onchange="uplBikeRegBackOnChange()">
                                                <label class="custom-file-label"
                                                       style="border-radius: 0">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="sendAddEdit()">Save</button>
                                </div>
                            </div>
                            <!--modalbody-->
                        </div>
                        <!--modal content-->
                    </div>
                </div>
                <!-- Modal End -->
            </div>
        </div>

    </section>
    <!--section-->

    <script>

        var txtPhone = document.getElementById("txtPhone");
        var txtPassword = document.getElementById("txtPassword");
        var txtSumRevenue = document.getElementById("txtSumRevenue");
        var txtFullName = document.getElementById("txtFullName");
        var cbbSource = document.getElementById("cbbSource");

        var dpDob = document.getElementById("dpDob");
        var txtEmail = document.getElementById("txtEmail");
        var txtNote = document.getElementById("txtNote");
        var cbbPriceLevel = document.getElementById("cbbPriceLevel");

        var uplUserFace = document.getElementById("uplUserFace");
        var imgUserFace = document.getElementById("imgUserFace");

        var txtIntroduce = document.getElementById("txtIntroduce");

        var txtExtraPoint = document.getElementById("txtExtraPoint");
        var txtReportPoint = document.getElementById("txtReportPoint");
        var cbbStatus = document.getElementById("cbbStatus");

        var txtNatId = document.getElementById("txtNatId");
        var dpNatDate = document.getElementById("dpNatDate");
        var txtBikeRegId = document.getElementById("txtBikeRegId");
        var dpBikeRegDate = document.getElementById("dpBikeRegDate");

        var imgNatFront = document.getElementById("imgNatFront");
        var imgNatBack = document.getElementById("imgNatBack");
        var imgBikeRegFront = document.getElementById("imgBikeRegFront");
        var imgBikeRegBack = document.getElementById("imgBikeRegBack");

        var uplNatFront = document.getElementById("uplNatFront");
        var uplNatBack = document.getElementById("uplNatBack");
        var uplBikeRegFront = document.getElementById("uplBikeRegFront");
        var uplBikeRegBack = document.getElementById("uplBikeRegBack");

        var divPassword = document.getElementById("divPassword");
        var divSumRevenue = document.getElementById("divSumRevenue");
        var divStatus = document.getElementById("divStatus");
        var btnCloseModal = document.getElementById("btnCloseModal");
        var tblBodyAcc = document.getElementById("tblBodyAcc");


        var accList;
        var accEdit;
        var accEditPos = -1;
        var fpsApiAcc = fpsBackEnd + MAP_ADM + MAP_API + "/account/shp";

        function fpsFetchData() {
            getAccList();
            fpsSetCbbStatus(cbbStatus, accStatList);
        }


        function drawTblAccount() {
            btnCloseModal.click();

            var list = accList;
            $('#account-table').DataTable().destroy();
            var accountTable = $('#account-table').DataTable();
            accountTable.clear().draw();
            console.log(1);
            for (var i = 0; i < list.length; i++) {
                var account = list[i];

                accountTable.row.add([
                    '<span data-target="#fps-edit-modal" data-toggle="modal" onclick="getAccDetail(' + i + ')" >' + account.phone + '</span>',
                    account.name,
                    account.email,
                    account.sumRevenue,
                    fpsGetStatMsg(accStatList, account.status)
                ]).draw();
            }
            console.log("end");
        }


        function getAccList() {
            $.ajax({
                type: 'GET',
                url: fpsApiAcc,
                data: {},
                dataType: 'json',
                success: function (response) {
                    accList = response.data;
                    drawTblAccount();
                },
                error: function (response) {
                    console.log(response);
                }
            })
        }

        function getAccDetail(pos) {
            accEditPos = pos;
            if (typeof accList[pos].createTime === "undefined") {
                $.ajax({
                    type: 'GET',
                    url: fpsApiAcc + "/detail",
                    data: {accId: accList[pos].id},
                    dataType: 'json',
                    success: function (response) {
                        accList[pos] = response.data;
                        accEdit = accList[pos];
                        loadEditForm();
                    },
                    error: function (response) {
                    }
                })
            } else {
                accEdit = accList[pos];
                loadEditForm();
            }
        }

        function loadEditForm() {
            divPassword.style.display = "none";
            divSumRevenue.style.display = "block";
            divStatus.style.display = "block";

            txtPhone.value = accEdit.phone;

            txtSumRevenue.value = accEdit.sumRevenue;
            txtFullName.value = accEdit.name;
            cbbSource.value = accEdit.sourceId;

            dpDob.value = accEdit.dateOfBirth;
            txtEmail.value = accEdit.email;
            txtNote.value = accEdit.note;
            cbbPriceLevel.value = accEdit.priceLevelId;

            uplUserFace.value = "";
            fpsSetImgSrc(imgUserFace, accEdit.userImage);

            txtIntroduce.value = accEdit.introduce;

            txtExtraPoint.value = accEdit.extraPoint;
            txtReportPoint.value = accEdit.reportPoint;
            cbbStatus.value = accEdit.status;

            txtNatId.value = accEdit.natId;
            dpNatDate.value = accEdit.natDate;
            txtBikeRegId.value = accEdit.bikeRegId;
            dpBikeRegDate.value = accEdit.bikeRegDate;

            fpsSetImgSrc(imgNatFront, accEdit.natFront);
            fpsSetImgSrc(imgNatBack, accEdit.natBack);
            fpsSetImgSrc(imgBikeRegFront, accEdit.bikeRegFront);
            fpsSetImgSrc(imgBikeRegBack, accEdit.bikeRegBack);

            uplNatFront.value = "";
            uplNatBack.value = "";
            uplBikeRegFront.value = "";
            uplBikeRegBack.value = "";


        }


        function loadAddForm() {
            divPassword.style.display = "block";
            divSumRevenue.style.display = "none";
            divStatus.style.display = "none";
            accEditPos = -1;

            txtPhone.value = "";

            txtSumRevenue.value = "";
            txtFullName.value = "";
            cbbSource.value = 2;

            dpDob.value = "";
            txtEmail.value = "";
            txtNote.value = "";
            cbbPriceLevel.value = 1;

            uplUserFace.value = "";
            fpsSetImgDefault(imgUserFace);

            txtIntroduce.value = "";

            txtExtraPoint.value = "";
            txtReportPoint.value = "";
            cbbStatus.value = 1;

            txtNatId.value = "";
            dpNatDate.value = "";
            txtBikeRegId.value = "";
            dpBikeRegDate.value = "";

            fpsSetImgDefault(imgNatFront);
            fpsSetImgDefault(imgNatBack);
            fpsSetImgDefault(imgBikeRegFront);
            fpsSetImgDefault(imgBikeRegBack);

            uplNatFront.value = "";
            uplNatBack.value = "";
            uplBikeRegFront.value = "";
            uplBikeRegBack.value = "";
        }

        function sendAddEdit() {
            if (accEditPos < 0) {
                sendAdd();
            } else {
                sendEdit();
            }
        }

        function sendEdit() {

            var formData = new FormData();
            fpsFormAppend(formData, "accId", accEdit.id);
            fpsFormAppend2(formData, "phone", txtPhone.value, accEdit.phone);
            fpsFormAppend2(formData, "sumRevenue", txtSumRevenue.value, accEdit.sumRevenue);
            fpsFormAppend2(formData, "name", txtFullName.value, accEdit.name);
            fpsFormAppend2(formData, "sourceId", cbbSource.value, accEdit.sourceId);

            fpsFormAppend2(formData, "dob", dpDob.valueAsNumber, accEdit.dateOfBirth);
            fpsFormAppend2(formData, "email", txtEmail.value, accEdit.email);
            fpsFormAppend2(formData, "note", txtNote.value, accEdit.note);
            fpsFormAppend2(formData, "priceLevelId", cbbPriceLevel.value, accEdit.priceLevelId);

            fpsFormAppend(formData, "userFace", uplUserFace.files[0]);
            fpsFormAppend2(formData, "introduce", txtIntroduce.value, accEdit.introduce);

            fpsFormAppend2(formData, "extraPoint", txtExtraPoint.value, accEdit.extraPoint);
            fpsFormAppend2(formData, "reportPoint", txtReportPoint.value, accEdit.reportPoint);
            fpsFormAppend2(formData, "status", cbbStatus.value, accEdit.status);

            fpsFormAppend2(formData, "natId", txtNatId.value, accEdit.natId);
            fpsFormAppend2(formData, "natDate", dpNatDate.valueAsNumber, accEdit.natDate);
            fpsFormAppend2(formData, "bikeRegId", txtBikeRegId.value, accEdit.bikeRegId);
            fpsFormAppend2(formData, "bikeRegDate", dpNatDate.valueAsNumber, accEdit.bikeRegDate);

            fpsFormAppend(formData, "natFront", uplNatFront.files[0]);
            fpsFormAppend(formData, "natBack", uplNatBack.files[0]);
            fpsFormAppend(formData, "bikeRegFront", uplBikeRegFront.files[0]);
            fpsFormAppend(formData, "bikeRegBack", uplBikeRegBack.files[0]);

            $.ajax({
                type: 'PUT',
                url: fpsApiAcc,
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (response) {
                    if (response.status_code === RESP_SUCCESS) {
                        accList[accEditPos] = response.data;
                        drawTblAccount();
                    } else {
                    }
                },
                error: function (response) {
                    alert("Unable to Edit");
                }
            })
        }


        function sendAdd() {
            var formData = new FormData();
            fpsFormAppend(formData, "phone", txtPhone.value);
            fpsFormAppend(formData, "password", txtPassword.value);
            fpsFormAppend(formData, "name", txtFullName.value);
            fpsFormAppend(formData, "sourceId", cbbSource.value);

            fpsFormAppend(formData, "dob", dpDob.valueAsNumber);
            fpsFormAppend(formData, "email", txtEmail.value);
            fpsFormAppend(formData, "note", txtNote.value);
            fpsFormAppend(formData, "priceLevelId", cbbPriceLevel.value);

            fpsFormAppend(formData, "userFace", uplUserFace.files[0]);
            fpsFormAppend(formData, "introduce", txtIntroduce.value);

            fpsFormAppend(formData, "natId", txtNatId.value);
            fpsFormAppend(formData, "natDate", dpNatDate.valueAsNumber);
            fpsFormAppend(formData, "bikeRegId", txtBikeRegId.value);
            fpsFormAppend(formData, "bikeRegDate", dpNatDate.valueAsNumber);

            fpsFormAppend(formData, "natFront", uplNatFront.files[0]);
            fpsFormAppend(formData, "natBack", uplNatBack.files[0]);
            fpsFormAppend(formData, "bikeRegFront", uplBikeRegFront.files[0]);
            fpsFormAppend(formData, "bikeRegBack", uplBikeRegBack.files[0]);

            $.ajax({
                type: 'POST',
                url: fpsApiAcc,
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (response) {
                    if (response.status_code === RESP_SUCCESS) {
                        accList.push(response.data);
                        drawTblAccount();
                    } else {
                    }
                },
                error: function (response) {
                    alert("Unable to Edit");
                }
            })
        }


        function uplUserFaceOnChange() {
            fpsSetImgFromInput(imgUserFace, uplUserFace);
        }

        function uplNatFrontOnChange() {
            fpsSetImgFromInput(imgNatFront, uplNatFront);
        }

        function uplNatBackOnChange() {
            fpsSetImgFromInput(imgNatBack, uplNatBack);
        }

        function uplBikeRegFrontOnChange() {
            fpsSetImgFromInput(imgBikeRegFront, uplBikeRegFront);
        }

        function uplBikeRegBackOnChange() {
            fpsSetImgFromInput(imgBikeRegBack, uplBikeRegBack);
        }

    </script>
</div>

</html>