<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_dash_layout}" lang="en">
<div class="content-inner" layout:fragment="content-section">
    <header class="page-header d-flex">
        <div class="flex-grow-1">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link">Order Manage</a>
                </li>
            </ul>
        </div>
    </header>
    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
            <div class="table-responsive row bg-white has-shadow">
                <div class="d-flex p-2">
                    <div class="flex-grow-1">
                    </div>
                    <div>
                        <button id="Cancel-sel" class="btn btn-warning">Cancel (0)</button>
                    </div>
                </div>

                <table id="account-table" class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Customer</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Net Amount</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td data-toggle="modal" data-target="#add-edit-modal">The 1</td>
                        <td>12/02/2019</td>
                        <td><span style="color: red; size: 50px">
                            Cancel
                        </span></td>
                        <td>300</td>
                        <td>
                            <a href="#" class="btn btn-secondary">Cancel</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td data-toggle="modal" data-target="#add-edit-modal">The 1</td>
                        <td>12/02/2019</td>
                        <td><span style="color: green; size: 50px">
                            Delivered
                        </span></td>
                        <td>900</td>
                        <td>
                            <a href="#" class="btn btn-secondary">Cancel</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Modal-->
                <div id="add-edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="exampleModalLabel" class="modal-title">Signin Modal</h4>
                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                                        aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <p>Lorem ipsum dolor sit amet consectetur.</p>
                                <form>
                                    <div class="form-group">
                                        <label>Customer</label>
                                        <input type="email" placeholder="Phone Number" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Date</label>
                                        <input type="password" placeholder="Fullname" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">Role</label>
                                        <!--<div class="col-sm-9">-->
                                        <select name="role" class="form-control mb-3">
                                            <option>Waitting</option>
                                            <option>Got</option>
                                            <option>Cancel</option>
                                            <option>Delivered</option>
                                        </select>
                                        <!--</div>-->
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>