<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_dash_layout}" lang="en">

<div class="content-inner" layout:fragment="content-section">
    <header class="page-header d-flex">
        <div class="flex-grow-1">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Store Manage</a>
                </li>
            </ul>
        </div>
    </header>

    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
            <div class="table-responsive row bg-white has-shadow">

                <div class="d-flex p-2">
                    <div class="flex-grow-1">
                        <button id="add-new" class="btn btn-primary" data-toggle="modal"
                                data-target="#addnew-store-detail-modal">
                            Add new
                        </button>
                    </div>
                    <div>
                        <!--   <button id="deactive-sel" class="btn btn-warning">Deactive (0)</button>-->
                        <button class="btn btn-warning">Deactive</button>
                    </div>
                </div>

                <table id="account-table" class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Rating</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row" data-target="#store-detail-modal" data-toggle="modal">1</th>
                        <td data-target="#store-detail-modal" data-toggle="modal">Trà Sữa Gong Cha - 貢茶 - Hồ Tùng Mậu
                        </td>
                        <td data-target="#store-detail-modal" data-toggle="modal">83 Hồ Tùng Mậu</td>
                        <td data-target="#store-detail-modal" data-toggle="modal">Working</td>
                        <td data-target="#store-detail-modal" data-toggle="modal">❤❤❤</td>
                        <td>
                            <a href="#" class="btn btn-danger">Deactive</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Modal-->
                <div id="edit-order-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="exampleModalLabelStore" class="modal-title"></h4>
                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                                        aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">





                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
                <!-- Modal-->
            </div>
        </div>
    </section>
</div>
</html>