<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_dash_layout}" lang="en">

<div class="content-inner" layout:fragment="content-section">
    <header class="page-header d-flex">
        <div class="flex-grow-1">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Product Manage</a>
                </li>
            </ul>
        </div>
    </header>
    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
            <div class="table-responsive row bg-white has-shadow">
                <div class="d-flex p-2">
                    <div class="flex-grow-1">
                        <button id="btnAdd" class="btn btn-primary" data-toggle="modal"
                                onclick="loadAddForm()" data-target="#product-detail-modal">
                            Add new
                        </button>
                    </div>
                </div>

                <table id="account-table" class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Note</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody id="tblBodyPro">
                    <!--<tr>-->
                    <!--<th scope="row" data-toggle="modal" data-target="#product-detail-modal">1</th>-->
                    <!--<td data-toggle="modal" data-target="#product-detail-modal">Milk Shake-->
                    <!--</td>-->
                    <!--<td data-toggle="modal" data-target="#product-detail-modal">Trà Sữa Gong Cha - 貢茶 - Hồ Tùng Mậu-->
                    <!--</td>-->
                    <!--<td data-toggle="modal" data-target="#product-detail-modal">200</td>-->
                    <!--<td data-toggle="modal" data-target="#product-detail-modal">❤❤❤</td>-->
                    <!--<td>-->
                    <!--<a href="#" class="btn btn-warning">Deactive</a>-->
                    <!--<a href="#" class="btn btn-danger">Delete</a>-->
                    <!--</td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
                <!-- Modal-->


                <div id="product-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="exampleModalLabelStore" class="modal-title"></h4>
                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                                        id="btnCloseModal" aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" placeholder="Name" class="form-control" id="txtProName">
                                </div>
                                <div class="form-group">
                                    <label id="lblStore">Store</label>
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input type="text" placeholder="Price" class="form-control" id="txtPrice">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" placeholder="Description" class="form-control"
                                           id="txtDescription">
                                </div>
                                <div class="form-group">
                                    <label>Note</label>
                                    <input type="text" placeholder="Note" class="form-control" id="txtNote">
                                </div>
                                <div class="form-group">
                                    <div class="text-center">
                                        <img src="" class="card-img" alt="Responsive image" id="imgProIcon">
                                    </div>
                                    <!--<label for="exampleFormControlFile1">Example file input</label>-->
                                    <input type="file" class="form-control-file" id="uplProIcon">
                                </div>
                                <div class="form-group">
                                    <label for="cbbStatus">Status</label>
                                    <select class="form-control" id="cbbStatus"></select>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" onclick="sendAddEdit()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <script>
        var store = "";
        var proList;
        var proEdit;
        var proEditPos = -1;
        var fpsApiPro = fpsBackEnd + MAP_ADM + MAP_API + "product";
        var btnAdd = document.getElementById("btnAdd");

        var txtProName = document.getElementById("txtProName");
        var lblStore = document.getElementById("lblStore");
        var txtPrice = document.getElementById("txtPrice");
        var txtDescription = document.getElementById("txtDescription")
        var txtNote = document.getElementById("txtNote");
        var imgProIcon = document.getElementById("imgProIcon");
        var uplProIcon = document.getElementById("uplProIcon");
        var cbbStatus = document.getElementById("cbbStatus");

        function fpsFetchData() {
            store = JSON.parse(sessionStorage.getItem("store"));
            console.log(store);
            sessionStorage.removeItem("store");
            if (!isStoreExist()) {
                btnAdd.style.display = "none";

            } else {

            }
            getProList();
            fpsSetCbbStatus(cbbStatus, proStatList);
        }


        function drawTblProduct() {
            document.getElementById("btnCloseModal").click();
            var list = proList;
            $('#account-table').DataTable().destroy();
            var accountTable = $('#account-table').DataTable();
            accountTable.clear().draw();
            for (var i = 0; i < list.length; i++) {
                var product = list[i];

                var statStr = fpsGetStatMsg(proStatList, product.status);
                accountTable.row.add([
                    '<span data-target="#product-detail-modal" data-toggle="modal" onclick="getProDetail(' + product.id + ')" >' + product.name + '</span>',
                    product.price,
                    product.description,
                    product.note,
                    statStr,
                ]).draw();
            }
        }

        function isStoreExist() {
            if (store !== null && store !== "" && typeof store.name !== 'undefined') {
                return true;
            }
            return false;
        }

        function getProPos(proId) {
            for (var i = 0; i < proList.length; i++) {
                if (proId === proList[i].id) {
                    return i
                }
            }
            return -1;
        }

        function getProList() {
            var storeId;
            if (isStoreExist()) {
                storeId = store.id;
            }
            $.ajax({
                type: 'GET',
                url: fpsApiPro,
                data: {storeId: storeId},
                dataType: 'json',
                success: function (response) {
                    proList = response.data;
                    drawTblProduct();
                },
                error: function (response) {
                    console.log(response);
                }
            })
        }

        function getProDetailFromServer(proId) {
            $.ajax({
                type: 'GET',
                url: fpsApiPro + "/detail",
                data: {proId: proId},
                daaType: 'json',
                success: function (response) {
                    proEdit = response.data;
                    loadEditForm();
                    return proEdit;
                },
                error: function (response) {
                }
            });
        }


        function getProDetail(proId) {
            proEditPos = getProPos(proId);
            if (proEditPos < 0) {
                proList.push(getProDetailFromServer(proId));
                proEditPos = getProPos(proId);
                return;
            }
            if (typeof proList[proEditPos].createTime === "undefined") {
                proList[proEditPos] = (getProDetailFromServer(proId));
                return;
            }
            proEdit = proList[proEditPos];
            loadEditForm();
        }


        function loadEditForm() {
            txtProName.value = proEdit.name;
            if (isStoreExist()) {
                lblStore.innerHTML = store.name + " " + store.address;
            }
            txtPrice.value = proEdit.price;
            txtDescription.value = proEdit.description;
            txtNote.value = proEdit.note;
            fpsSetImgSrc(imgProIcon, proEdit.image);
            uplProIcon.value = "";
            cbbStatus.value = proEdit.status;
        }


        function loadAddForm() {
            proEditPos = -1;

            txtProName.value = "";
            lblStore.innerHTML = store.name + " " + store.address;
            txtPrice.value = "";
            txtDescription.value = "";
            txtNote.value = "";
            fpsSetImgDefault(imgProIcon);
            uplProIcon.value = "";
            cbbStatus.value = proEdit.status;
        }


        function sendAddEdit() {
            if (proEditPos < 0) {
                sendAdd();
            } else {
                sendEdit();
            }
        }

        function sendAdd() {
            var storeId = store.id;
            var proName = txtProName.value;
            var price = txtPrice.value;
            var proImg = uplProIcon.files[0];
            var description = txtDescription.value;
            var note = txtNote.value;
            var status = cbbStatus.value;

            var formData = new FormData();
            fpsFormAppend(formData, "proName", proName);
            fpsFormAppend(formData, "storeId", storeId);
            fpsFormAppend(formData, "price", price);
            fpsFormAppend(formData, "proImg", proImg);
            fpsFormAppend(formData, "description", description);
            fpsFormAppend(formData, "note", note);

            $.ajax({
                type: 'POST',
                url: fpsApiPro,
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (response) {
                    if (response.status_code === RESP_SUCCESS) {
                        proList.push(response.data);
                        drawTblProduct();
                    } else {
                    }
                },
                error: function (response) {
                    alert("Unable to Add");
                }
            })
        }

        function sendEdit() {
            var proName = txtProName.value;
            var price = txtPrice.value;
            var proImg = uplProIcon.files[0];
            var description = txtDescription.value;
            var note = txtNote.value;
            var status = cbbStatus.value;

            var formData = new FormData();
            fpsFormAppend(formData, "proId", proEdit.id);
            fpsFormAppend(formData, "proName", proName);
            fpsFormAppend(formData, "price", price);
            fpsFormAppend(formData, "proImg", proImg);
            fpsFormAppend(formData, "description", description);
            fpsFormAppend(formData, "note", note);
            fpsFormAppend(formData, "status", status);

            $.ajax({
                type: 'PUT',
                url: fpsApiPro,
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (response) {
                    if (response.status_code === RESP_SUCCESS) {
                        proList[proEditPos] = response.data;
                        drawTblProduct();
                    } else {
                    }
                },
                error: function (response) {
                    alert("Unable to Edit");
                }
            })
        }

    </script>
</div>
</html>