<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_dash_layout}" lang="en">

<div class="content-inner" layout:fragment="content-section">
    <header class="page-header d-flex">
        <div class="flex-grow-1">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Store Manage</a>
                </li>
            </ul>
        </div>
    </header>
    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
            <div class="table-responsive row bg-white has-shadow">
                <div class="d-flex p-2">
                    <div class="flex-grow-1">
                        <button id="add-new" class="btn btn-primary" data-toggle="modal" onclick="loadAddForm()"
                                data-target="#addnew-store-detail-modal">Add new
                        </button>
                    </div>
                </div>

                <table id="account-table" class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>District</th>
                        <th>Status</th>
                        <th>Note</th>
                    </tr>
                    </thead>
                    <tbody id="tblBodyStore">
                    </tbody>
                </table>
                <!-- Modal-->
                <div id="addnew-store-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="exampleModalLabelStore" class="modal-title"></h4>
                                <button id="btnCloseModalAdd" type="button" data-dismiss="modal" aria-label="Close"
                                        class="close"><span
                                        aria-hidden="true">×</span></button>
                            </div>

                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" placeholder="Name" class="form-control" id="txtStoreNameAdd">
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" placeholder="Phone Number" class="form-control" id="txtPhoneAdd">
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" placeholder="Address" class="form-control mb-3"
                                           id="txtAddressAdd">
                                </div>

                                <div class="row row-eq-height no-padding">
                                    <div class="col-sm padding-0">
                                        <div class="form-group">
                                            <select name="district" class="form-control mb-3" id="cbbDistAdd"
                                                    title="dist"></select>
                                        </div>
                                        <div class="form-group">
                                            <label>Longitude</label>
                                            <input type="text" placeholder="Longitude" class="form-control"
                                                   id="txtLongitudeAdd">
                                        </div>
                                    </div>
                                    <div class="col-sm padding-0">
                                        <div class="form-group">
                                            <select name="city" class="form-control mb-3" id="cbbCityAdd"
                                                    onchange="cbbCityAddOnChange()" title="city"></select>
                                        </div>
                                        <div class="form-group">
                                            <label>Latitude</label>
                                            <input type="text" placeholder="Latitude" class="form-control"
                                                   id="txtLatitudeAdd">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <img id="imgStoreThumbAdd" src="" style="width: 100%" class="card-img"
                                         alt="Responsive image"/>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                                    <span class="input-group-text"
                                                          id="inputGroupFileAddon0">Upload</span>
                                        </div>
                                        <div class="custom-file" style="border-radius: 0">
                                            <input type="file" class="custom-file-input" id="uplStoreThumbAdd"
                                                   onchange="uplStoreThumbAddOnChange()"
                                                   aria-describedby="uplStoreThumbAdd">
                                            <label class="custom-file-label" for="uplStoreThumbAdd"
                                                   id="lblStoreThumbAdd">Choose file</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" onclick="sendAdd()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!--<style>-->
                <!--.fps-input-schedule {-->
                <!--margin: 0 !important;-->
                <!--padding-left: 1px !important;-->
                <!--padding-right: 0 !important;-->
                <!--border-left: none;-->
                <!--border-right: none;-->
                <!--}-->

                <!--.fps-table-column-dense {-->
                <!--padding-left: 1px !important;-->
                <!--padding-right: 1px !important;-->
                <!--}-->

                <!--</style>-->
                <!-- Modal-->
                <div id="store-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true" class="modal fade text-left">
                    <div role="document" class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="exampleModalLabel" class="modal-title"></h4>
                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                                        id="btnCloseModalEdit" aria-hidden="true">×</span></button>
                            </div>


                            <div class="modal-body">

                                <div class="row row-eq-height">
                                    <div class="col-sm padding-0">
                                        <img id="imgStoreThumb" src=""
                                             alt="Responsive image" style="width: 460px;height: 376px">

                                        <div class="input-group" style="width: 460px;">
                                            <div class="input-group-prepend">
                                                    <span class="input-group-text"
                                                          id="inputGroupFileAddon01">Upload</span>
                                            </div>
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="uplStoreThumb"
                                                       onchange="uplStoreThumbOnChange()"
                                                       aria-describedby="uplStoreThumb">
                                                <label class="custom-file-label" for="uplStoreThumb" id="lblStoreThumb">Choose
                                                    file</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm padding-0">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" placeholder="Name" class="form-control"
                                                   id="txtStoreName">
                                        </div>
                                        <div class="form-group">
                                            <label>Phone</label>
                                            <input type="text" placeholder="Phone Number" class="form-control"
                                                   id="txtPhone">
                                        </div>
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" placeholder="Address" class="form-control"
                                                   id="txtAddress">
                                        </div>
                                        <div class="row row-eq-height"
                                             style="padding-left: 0; padding-right: 0; padding-top: 0">
                                            <div class="col-sm padding-0">
                                                <label for="cbbDist">District</label>
                                                <select name="district" class="form-control" id="cbbDist"></select>
                                            </div>
                                            <div class="col-sm padding-0">
                                                <label for="cbbCity">City</label>
                                                <select name="city" class="form-control"
                                                        onchange="cbbCityOnChange()" id="cbbCity"></select>
                                            </div>
                                        </div>
                                        <div class="row row-eq-height" style="padding-left: 0; padding-right: 0;">
                                            <div class="col-sm padding-0">
                                                <label>Longitude</label>
                                                <input type="text" placeholder="Longitude" class="form-control"
                                                       id="txtLongitude">
                                            </div>
                                            <div class="col-sm padding-0">
                                                <label>Latitude</label>
                                                <input type="text" placeholder="Latitude" class="form-control"
                                                       id="txtLatitude">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row no-padding-top">
                                    <div class="col-2 padding-0">
                                        <label style="visibility: hidden">Schedule</label>
                                        <div class="form-control">Set Schedule</div>
                                    </div>
                                    <div class="col-3 padding-0">
                                        <label for="cbbStatus">Status</label>
                                        <select class="form-control" id="cbbStatus"></select>
                                    </div>
                                    <div class="col-7 padding-0">
                                        <label>Note</label>
                                        <input type="text" placeholder="Note" class="form-control"
                                               id="txtNote">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 bg-white">
                                        <table id="order-detail-table" onclick="toProductPage()" class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Note</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tblBodyPro"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" onclick="sendEdit()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var storeList;
        var cityList;
        var storeEdit;
        var storeEditPos;
        var fpsApiSto = fpsBackEnd + MAP_ADM + MAP_API + "/store";
        var fpsApiCty = fpsBackEnd + MAP_ANY + MAP_API + "/city";

        var tblBodyPro = document.getElementById("tblBodyPro");

        var txtStoreName = document.getElementById("txtStoreName");
        var txtPhone = document.getElementById("txtPhone");
        var txtAddress = document.getElementById("txtAddress");
        var cbbCity = document.getElementById("cbbCity");
        var cbbDist = document.getElementById("cbbDist");
        var txtLongitude = document.getElementById("txtLongitude");
        var txtLatitude = document.getElementById("txtLatitude");
        var imgStoreThumb = document.getElementById("imgStoreThumb");
        var uplStoreThumb = document.getElementById("uplStoreThumb");
        var cbbStatus = document.getElementById("cbbStatus");
        var txtNote = document.getElementById("txtNote");

        var txtStoreNameAdd = document.getElementById("txtStoreNameAdd");
        var txtPhoneAdd = document.getElementById("txtPhoneAdd");
        var txtAddressAdd = document.getElementById("txtAddressAdd");
        var cbbCityAdd = document.getElementById("cbbCityAdd");
        var cbbDistAdd = document.getElementById("cbbDistAdd");
        var txtLongitudeAdd = document.getElementById("txtLongitudeAdd");
        var txtLatitudeAdd = document.getElementById("txtLatitudeAdd");
        var imgStoreThumbAdd = document.getElementById("imgStoreThumbAdd");
        var uplStoreThumbAdd = document.getElementById("uplStoreThumbAdd");


        function fpsFetchData() {
            getCityList();
            fpsSetCbbStatus(cbbStatus, stoStatList);
        }

        function getDistName(distId) {
            for (var i = 0; i < cityList.length; i++) {
                var distList = cityList[i].distList;
                for (var j = 0; j < distList.length; j++) {
                    if (distList[j].id === distId) {
                        return distList[j].name;
                    }
                }
            }
        }

        function getCityPos(distId) {
            for (var i = 0; i < cityList.length; i++) {
                var distList = cityList[i].distList;
                for (var j = 0; j < distList.length; j++) {
                    if (distList[j].id === distId) {
                        return i;
                    }
                }
            }
        }

        function getCityList() {
            $.ajax({
                type: 'GET',
                url: fpsApiCty,
                dataType: 'json',
                success: function (response) {
                    cityList = response.data;
                    getStoreList();
                    setCbbCity();
                    cbbCityAddOnChange();
                },
                error: function (response) {
                }
            })
        }

        function setCbbCity() {
            cbbCity.innerHTML = '';
            cbbCityAdd.innerHTML = '';
            for (var i = 0; i < cityList.length; i++) {
                var opt = '<option value="' + cityList[i].id + '">' + cityList[i].name + '</option>'
                cbbCity.innerHTML += opt;
                cbbCityAdd.innerHTML += opt;
            }
        }

        function cbbCityAddOnChange() {
            var cityPos = cbbCityAdd.selectedIndex;
            cbbDistAdd.innerHTML = '';
            var distList = cityList[cityPos].distList;
            var pos = 0;
            for (var i = 0; i < distList.length; i++) {
                var opt = '<option value="' + distList[i].id + '">' + distList[i].name + '</option>';
                cbbDistAdd.innerHTML += opt;
            }
        }

        function cbbCityOnChange() {
            var cityPos = cbbCity.selectedIndex;
            cbbDist.innerHTML = '';
            var distList = cityList[cityPos].distList;
            for (var i = 0; i < distList.length; i++) {
                var opt = '<option value="' + distList[i].id + '">' + distList[i].name + '</option>';
                cbbDist.innerHTML += opt;
            }
        }

        function drawTblStore() {
            document.getElementById("btnCloseModalAdd").click();
            document.getElementById("btnCloseModalEdit").click();
            var list = storeList;
            $('#account-table').DataTable().destroy();
            var accountTable = $('#account-table').DataTable();
            accountTable.clear().draw();
            for (var i = 0; i < list.length; i++) {
                var store = list[i];

                accountTable.row.add([
                    '<span data-target="#store-detail-modal" data-toggle="modal" onclick="getStoreDetail(' + i + ')" >' + store.name + '</span>',
                    store.address,
                    getDistName(store.distId),
                    fpsGetStatMsg(stoStatList, store.status),
                    store.note,
                ]).draw();
            }
        }

        function getStoreList() {
            $.ajax({
                type: 'GET',
                url: fpsApiSto,
                data: {},
                dataType: 'json',
                success: function (response) {
                    storeList = response.data;
                    drawTblStore();
                },
                error: function (response) {
                    console.log(response);
                }
            })
        }

        function getStoreDetail(pos) {
            storeEditPos = pos;
            if (typeof storeList[pos].createTime === "undefined") {
                $.ajax({
                    type: 'GET',
                    url: fpsApiSto + "/detail",
                    data: {storeId: storeList[pos].id},
                    dataType: 'json',
                    success: function (response) {
                        storeList[pos] = response.data;
                        storeEdit = storeList[pos];
                        loadEditForm();
                    },
                    error: function (response) {
                    }
                })
            } else {
                storeEdit = storeList[pos];
                loadEditForm();
            }
        }

        function loadEditForm() {
            txtStoreName.value = storeEdit.name;
            txtPhone.value = storeEdit.phone;
            txtAddress.value = storeEdit.address;
            cbbCity.selectedIndex = getCityPos(storeEdit.distId);
            cbbCityOnChange();
            cbbDist.value = storeEdit.distId;
            txtLongitude.value = storeEdit.longitude;
            txtLatitude.value = storeEdit.latitude;

            fpsSetImgSrc(imgStoreThumb, storeEdit.image);
            uplStoreThumb.value = "";
            cbbStatus.value = storeEdit.status;
            txtNote.value = storeEdit.note;

            tblBodyPro.innerHTML = '';
            var list = storeEdit.proList;
            for (var i = 0; i < list.length; i++) {
                var pro = list[i];
                var row = '  <td>' + (i + 1) + '</td>\n' +
                    '            <td>' + pro.name + '</td>\n' +
                    '            <td>' + pro.price + '</td>\n' +
                    '            <td>' + pro.note + '</td>\n' +
                    '            <td>' + fpsGetStatMsg(proStatList, pro.status) + '</td>';
                tblBodyPro.innerHTML += row;
            }
        }

        function loadAddForm() {
            txtStoreNameAdd.value = "";
            txtPhoneAdd.value = "";
            txtAddressAdd.value = "";
            txtLongitudeAdd.value = "";
            txtLatitudeAdd.value = "";
            fpsSetImgDefault(imgStoreThumbAdd);
            uplStoreThumbAdd.value = "";
        }


        function sendEdit() {
            var storeName = txtStoreName.value;
            var phone = txtPhone.value;
            var address = txtAddress.value;
            var distId = cbbDist.value;
            var longitude = txtLongitude.value;
            var latitude = txtLatitude.value;
            var storeImg = uplStoreThumb.files[0];
            var status = cbbStatus.value;
            var note = txtNote.value;

            var formData = new FormData();
            fpsFormAppend(formData, "storeId", storeEdit.id);
            fpsFormAppend(formData, "storeName", storeName);
            fpsFormAppend(formData, "phone", phone);
            fpsFormAppend(formData, "address", address);
            fpsFormAppend(formData, "distId", distId);
            fpsFormAppend(formData, "longitude", longitude);
            fpsFormAppend(formData, "latitude", latitude);
            fpsFormAppend(formData, "storeImg", storeImg);
            fpsFormAppend(formData, "note", note);
            fpsFormAppend(formData, "status", status);
            $.ajax({
                type: 'PUT',
                url: fpsApiSto,
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (response) {
                    if (response.status_code === RESP_SUCCESS) {
                        storeList[storeEditPos] = response.data;
                        drawTblStore();
                    } else {
                    }
                },
                error: function (response) {
                    alert("Unable to Edit");
                }
            })
        }


        function sendAdd() {
            var storeName = txtStoreNameAdd.value;
            var phone = txtPhoneAdd.value;
            var address = txtAddressAdd.value;
            var distId = cbbDistAdd.value;
            var longitude = txtLongitudeAdd.value;
            var latitude = txtLatitudeAdd.value;
            var storeImg = uplStoreThumbAdd.files[0];

            var formData = new FormData();
            fpsFormAppend(formData, "storeName", storeName);
            fpsFormAppend(formData, "phone", phone);
            fpsFormAppend(formData, "address", address);
            fpsFormAppend(formData, "distId", distId);
            fpsFormAppend(formData, "longitude", longitude);
            fpsFormAppend(formData, "latitude", latitude);
            fpsFormAppend(formData, "storeImg", storeImg);
            $.ajax({
                type: 'POST',
                url: fpsApiSto,
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: function (response) {
                    if (response.status_code === RESP_SUCCESS) {
                        storeList.push(response.data);
                        drawTblStore();
                    } else {
                    }
                },
                error: function (response) {
                    alert("Unable to Edit");
                }
            })
        }

        function toProductPage() {
            sessionStorage.setItem("store", JSON.stringify(storeEdit));
            document.location.href = "/adm/product";
        }

        function uplStoreThumbOnChange() {
            fpsSetImgFromInput(imgStoreThumb, uplStoreThumb);
        }

        function uplStoreThumbAddOnChange() {
            fpsSetImgFromInput(imgStoreThumbAdd, uplStoreThumbAdd);
        }


    </script>
</div>
</html>