<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title class="title-md hydrated">Your Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf=(isLoaded)>
    <ion-list>
      <ion-list-header color="light">
        <ion-label class="fw700">Order Code: {{myOrder[0].data.orderCode}}</ion-label>
      </ion-list-header>
    </ion-list>
    <div style="padding: 5px">
      Delivery to
      <!-- <p class="primary-text">{{myOrder[0].currentAddress}}</p> -->
      <ion-textarea no-padding type="text" value="{{myOrder[0].data.address}}" position="fixed" readonly>
      </ion-textarea>
      Your order from <strong>{{myOrder[0].data.storeName}} - {{myOrder[0].data.storeAddress}}</strong>
      <!-- <br>
        <ion-label class="font-10" color="medium">Duration: {{myOrder[0].duration}} ({{myOrder[0].distance}} km)
        </ion-label> -->
    </div>
    <br>
    <!-- item group -->
    <ion-item-group>
      <!-- item -->
      <ion-item no-padding *ngFor="let item of myOrder[0].data.detailList">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-thumbnail>
                <img src="{{item.proImg}}">
              </ion-thumbnail>
            </ion-col>
            <ion-col size="4" class="prod-title">
              <strong>{{item.proName}}</strong>

            </ion-col>
            <ion-col size="2" class="prod-price none-padding">
              <p>{{item.quantity}}</p>
            </ion-col>
            <ion-col size="3" class="prod-price">
              <p>{{item.unitPrice}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <!-- end item -->
    </ion-item-group>
    <!-- end item group -->

    <!-- <ion-item> -->
    <br>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          Subtotal
        </ion-col>
        <ion-col size="3">
          {{myOrder[0].data.totalPrice}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          Delivery fees
        </ion-col>
        <ion-col size="3">
          {{myOrder[0].data.shipperEarn}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- </ion-item> -->
    <ion-grid>
      <br>
      <ion-row>
        <ion-col size="9">
          Total
        </ion-col>
        <ion-col size="3">
          {{myOrder[0].data.total}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list margin-bottom>
      <ion-list-header color="light">
        <ion-label class="fw700">Shipper infomation</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label color="dark" position="stacked">Full Name:</ion-label>
        <ion-input readonly inputmode="text" value="{{myOrder[0].data.shipperName}}">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" position="stacked">Phone Number:</ion-label>
        <ion-input readonly inputmode="text" value="{{myOrder[0].data.shipperPhone}}">
        </ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>