<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backToHome()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll">
  <!-- Title Store -->
  <div class="store" >
    <img class="store__img" src="{{products[0].data.image}}" />
    <h1 class="store__title">{{products[0].data.name}} - {{products[0].data.address}}</h1>
    <div class="store__subtitle">
      Open time: 7:00 - 22:00
    </div>
  </div>
  <!-- End Title Store -->

  <!-- Product -->
  <ion-item-divider color="light">Sản Phẩm</ion-item-divider>
  <ion-item-group>
    <!-- item -->
    <ion-item *ngFor="let item of products[0].data.proList">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-thumbnail>
              <img src="{{item.image}}">
            </ion-thumbnail>
          </ion-col>
          <ion-col size="6" class="prod-title">
            <strong>{{item.name}}</strong>
          </ion-col>
          <ion-col size="3" class="prod-price">
            <p>{{item.price}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="prod-price none-padding">

            <p (click)="removeProduct(item.id)">
              <ion-icon class="add-prod" name="remove-circle-outline"></ion-icon>
            </p>
          </ion-col>
          <ion-col class="prod-price none-padding">
            <ion-input disabled value="{{item.quantity}}"></ion-input>
          </ion-col>
          <ion-col class="prod-price none-padding">
            <p (click)="addProduct(item.id)">
              <ion-icon class="add-prod" name="add-circle-outline"></ion-icon>
            </p>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>
    <!-- end item -->

  </ion-item-group>
  <!-- End Product -->

</ion-content>
<ion-footer *ngIf=(isHaveProduct) class="footer">
  <ion-button expand="full" (click)="openOrderModal()">Your cart: {{num}} item(s) - {{total}}</ion-button>
</ion-footer>