<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Shipper Mode</ion-label>
      <ion-toggle (ionChange)="changeMode()" [(ngModel)]="shipperMode"></ion-toggle>
    </ion-item>
  </ion-list>
  <div *ngIf="!isLoaded && stateOrder === 1" class="findText">
    <ion-spinner color="primary" name="crescent"></ion-spinner>
    <ion-label color="primary">Finding Order</ion-label>
  </div>
  <!-- start map -->
  <div class="map-wrapper">
    <div id="map_center">
      <!-- <img src="../../../assets/icon/center-marker.png" /> -->
    </div>
    <div #map id="map"></div>
  </div>
  <!-- <div id="address">
    <span>{{address}}</span>
  </div> -->
  <!-- End Map -->

  <div *ngIf=(isLoaded)>
    <ion-list>
      <ion-list-header color="light">
        <ion-label class="fw700">Order Code: {{order[0].data.orderCode}}</ion-label>
      </ion-list-header>
    </ion-list>
    <div style="padding: 5px">
      Customer destination is :
      <p class="primary-text">{{order[0].data.address}}</p>
      Take order from <strong>{{ order[0].data.storeName}} - {{ order[0].data.storeAddress}}</strong>
    </div>
    <br>
    <!-- item group -->
    <ion-item-group>
      <!-- item -->
      <ion-item no-padding *ngFor="let item of order[0].data.detailList">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-thumbnail>
                <img src="{{item.proImg}}">
              </ion-thumbnail>
            </ion-col>
            <ion-col size="3" class="prod-title">
              <strong>{{item.proName}}</strong>

            </ion-col>
            <ion-col size="3" class="prod-price none-padding">
              <p>{{item.quantity}}</p>
            </ion-col>
            <ion-col size="3" class="prod-price">
              <p>{{(item.unitPrice/1000).toFixed(3)}} ₫</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <!-- end item -->
    </ion-item-group>
    <!-- end item group -->

    <!-- <ion-item> -->
    <br>
    <ion-grid>
      <ion-row>
        <ion-col size="9">
          Subtotal
        </ion-col>
        <ion-col size="3">
          {{(order[0].data.totalPrice/1000).toFixed(3)}} ₫
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          Delivery fees
        </ion-col>
        <ion-col size="3">
          {{(order[0].data.shipperEarn/1000).toFixed(3)}} ₫
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- </ion-item> -->
    <ion-grid>
        <br>
        <ion-row>
          <ion-col size="9">
            Total
          </ion-col>
          <ion-col size="3">
            {{(order[0].data.total/1000).toFixed(3)}} ₫
          </ion-col>
        </ion-row>
      </ion-grid>
    <!-- shipper earn -->
    <ion-list>
        <ion-list-header color="light" no-padding>
          <ion-grid>
            <ion-row>
              <ion-col size="9">
                  <ion-icon class="margin--2" name="cash"></ion-icon>Shipper Earn
              </ion-col>
              <ion-col size="3">
                  {{(order[0].data.shipperMoney/1000).toFixed(3)}} ₫
                </ion-col>
            </ion-row>
          </ion-grid>
        </ion-list-header>
      </ion-list>
    <!-- end shipper earn -->
    <!-- customer info  -->
    <ion-list margin-bottom>
      <ion-list-header color="light">
        <ion-label class="fw700">Customer infomation</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label color="dark" position="stacked">Full Name:</ion-label>
        <ion-input readonly inputmode="text" value="{{order[0].data.buyerName}}">
        </ion-input>
      </ion-item>
      <ion-item>
          <ion-button color="success" (click)="callNow()"><ion-icon name="call"></ion-icon>{{order[0].data.buyerPhone}}</ion-button>
        <!-- <ion-label color="dark" position="stacked">Phone Number:</ion-label>
        <ion-input readonly inputmode="text" value="{{order[0].data.buyerPhone}}">
        </ion-input> -->
      </ion-item>
    </ion-list>
    <!-- end customer info -->

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div *ngIf="stateOrder === 1">
            <ion-button expand="full" color="primary" (click)="takeBill()">Take bill</ion-button>
          </div>
          <div *ngIf="stateOrder === 2">
              <ion-button expand="full" color="danger" (click)="checkout()">Check out</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size="12">
          <ion-button expand="full" color="danger" (click)="checkout()">Check out</ion-button>
        </ion-col>
      </ion-row> -->
      <!-- <ion-row>
        <ion-col size="12">
          <ion-button expand="full" color="light">Cancel</ion-button>
        </ion-col>

      </ion-row> -->
    </ion-grid>
  </div>
</ion-content>

<ion-footer *ngIf=(shipperMode) class="footer">
  <div *ngIf="stateOrder === 0">
    <ion-button expand="full" (click)="findOrder()">Find order</ion-button>
  </div>
  <!-- <div *ngIf="stateOrder === 1"> -->
  <!-- <ion-spinner color="primary" name="crescent"></ion-spinner> -->
  <!-- <ion-button color="danger" expand="full" (click)="cancelFindOrder()">Cancel</ion-button> -->
  <!-- </div> -->
</ion-footer>