.item-center{
    text-align: center;
}

.bodyApp{
    margin:5%;
    
}

.phoneRegion {
    background-color: yellow !important;
    input.form-control{
        background:red !important;
    }
    .flagInput{
        background-color: green;
    }
}
.phoneRegion input{
        background: red !important;
    }