.message {
    /* border: 1px solid; */
    font-weight: 600;
    margin: 10px 0px;
    padding: 10px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
    font-size: 12px;
}

.failure {
    color: #E53935;
    background-color: #FFCDD2;
    /* background-image: url('../img/error-icon.svg'); */
}

section.dashboard-counts .row {
    padding: 8px 10px;
    margin: 0;
}

section.dashboard-header div[class*='row'] .item {
    padding: 15px 0;
}

.padding-0 {
    padding-right:10px;
    padding-left:0;
}

.padding-0:last-child {
    padding-right:0;
}

.full-height {
    height: 100%;
}

/* Datatable */
.dataTables_wrapper .filter-group {
    float: right;
    margin-left: 15px;
}

.dataTables_wrapper .filter-group .form-control {
    display: inline-block;
}

.dataTables_wrapper .filter-group .form-control-sm {
    height: unset;
}

.dataTables_wrapper .filter-group label {
    margin-left: 10px;
    font-weight: normal;
}

.dataTables_wrapper .filter-group select.form-control {
    width: 110px;
    padding: 0.1rem 0.75rem;
}

.dataTables_wrapper .dataTables_filter  {
    float: right;
    margin-left: 15px;
}

/* Dialog */
#order-detail-modal .modal-dialog .modal-content {
    background-color: #f4f4f4;
}
#store-detail-modal .modal-dialog .modal-content {
    background-color: #f4f4f4;
}

#statistic-detail-modal .modal-dialog .modal-content img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 900px) {
    #order-detail-modal .modal-dialog {
        max-width: 700px;
    }
    #store-detail-modal .modal-dialog {
        max-width: 1000px;
    }
    #edit-order-detail-modal .modal-dialog {
        max-width: 900px;
    }
    #statistic-detail-modal .modal-dialog {
        max-width: 1000px;
    }
}

/* Char */
.filter-sm-text {
    font-size: 1.2rem !important;
}

.char-filter {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row; /* Safari 6.1+ */
    display: flex;
    flex-flow: row;
}

.cursor-pointer {
    cursor: pointer;
}