<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="backToLogin()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bodyApp">
  <ion-grid>
    <ion-item-divider color="light">Basic Info</ion-item-divider>
    <!-- Phone Number -->
    <ion-row>
      <ion-col size="12">
        <ion-label>
          Phone number
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="phoneRegion">
        <int-phone-prefix defaultCountry="vn" [(ngModel)]="phoneNumber"></int-phone-prefix>
      </ion-col>

    </ion-row>
    <!-- End phonenumber-->

    <!-- Password -->
    <ion-row>
      <ion-col size="12">
        <ion-label>
          Password
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-input type="password" placeholder="Password" value="" [(ngModel)]="password"></ion-input>

      </ion-col>
    </ion-row>

    <!-- End password-->

    <!-- Fullname -->
    <ion-row>
      <ion-col size="12">
        <ion-label>
          Fullname
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-input type="text" placeholder="Fullname" value="" [(ngModel)]="fullname"></ion-input>

      </ion-col>
    </ion-row>
    <!-- End Fullname-->
  </ion-grid>

  <ion-item-divider color="light">Your face image </ion-item-divider>
  <div padding class="item-center" *ngIf=(!face3)>
    <div *ngIf="temp == 0">
      <ion-button color="primary" (click)="presentAlertConfirm()">Take picture</ion-button>
    </div>
    <div *ngIf="temp == 1">
      <ion-button color="primary" (click)="presentAlertConfirm_2()">Take picture</ion-button>
    </div>
    <div *ngIf="temp == 2">
      <ion-button color="primary" (click)="presentAlertConfirm_3()">Take picture</ion-button>
    </div>
  </div>
  <!-- face 1 -->
  <ion-item *ngIf=(face1)>
    <div class="card-drop">
      <!--*ngFor="let crop of listSearch" [routerLink]="['/cropdetail', crop.id]" -->
      <img src="{{face1}}" class="card-drop__image" />
      <div class="card-drop__content">
        <h1 class="card-drop__content--title">
          Front side
        </h1>
        <div class="card-drop__content--body">
          <div class="card-drop__content--text">
            <ion-button expand="block" (click)="TakePhotoForEdit('front')">Take Again</ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-item>
  <!-- end face 1 -->

  <!-- face 2 left -->
  <ion-item *ngIf=(face2)>
    <div class="card-drop">
      <!--*ngFor="let crop of listSearch" [routerLink]="['/cropdetail', crop.id]" -->
      <img src="{{face2}}" class="card-drop__image" />
      <div class="card-drop__content">
        <h1 class="card-drop__content--title">
          Left side
        </h1>
        <div class="card-drop__content--body">
          <div class="card-drop__content--text">
            <ion-button expand="block" (click)="TakePhotoForEdit('left')">Take Again</ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-item>
  <!-- end face 2 -->

  <!-- face 3 right -->
  <ion-item *ngIf=(face3)>
    <div class="card-drop">
      <!--*ngFor="let crop of listSearch" [routerLink]="['/cropdetail', crop.id]" -->
      <img src="{{face3}}" class="card-drop__image" />
      <div class="card-drop__content">
        <h1 class="card-drop__content--title">
          Right side
        </h1>
        <div class="card-drop__content--body">
          <div class="card-drop__content--text">
            <ion-button expand="block" (click)="TakePhotoForEdit('right')">Take Again</ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-item>
  <!-- end face 3 -->
  <!-- <img src="{{ myPhoto }}"> -->
  <div padding class="item-center">
    <ion-button color="primary" (click)="onSubmit()">Sign Up</ion-button>
  </div>
</ion-content>