<ion-header>
  <ion-toolbar>
    <ion-title>Rate For Your Shipper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
      </ion-col>
      <ion-col size="9">
        <form>
          <!-- Change starability-basic to different class to see animations. -->
          <fieldset class="starability-basic" style="width: 100%">
            <ion-label>Rating for your shipper <ion-icon name="heart" color="danger"></ion-icon>
            </ion-label>
            <legend></legend>
            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
              aria-label="No rating." />

            <input type="radio" id="rate1" name="rating" value="1" (click)="starmark(1)" />
            <label for="rate1">1 star.</label>

            <input type="radio" id="rate2" name="rating" value="2" (click)="starmark(2)" />
            <label for="rate2">2 stars.</label>

            <input type="radio" id="rate3" name="rating" value="3" (click)="starmark(3)" />
            <label for="rate3">3 stars.</label>

            <input type="radio" id="rate4" name="rating" value="4" (click)="starmark(4)" />
            <label for="rate4">4 stars.</label>

            <input type="radio" id="rate5" name="rating" value="5" (click)="starmark(5)" />
            <label for="rate5">5 stars.</label>

            <span class="starability-focus-ring"></span>
          </fieldset>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" (click)="submitRate()">Submit</ion-button>

  <ion-list margin-bottom lines="none">
    <ion-list-header color="light">
      <ion-label class="fw700">Payment infomation</ion-label>
    </ion-list-header>
    <ion-item>
      <!-- <ion-icon name="contact"></ion-icon> -->
      <ion-label class="fw700">Your account used this face for payment !</ion-label>
    </ion-item>
      <ion-item>
        <div class="card-drop">
          <!--*ngFor="let crop of listSearch" [routerLink]="['/cropdetail', crop.id]" -->
          <img src="{{face}}" class="card-drop__image" />
          <div class="card-drop__content">
            <h1 class="card-drop__content--title">
              {{name}}
            </h1>
            <div class="card-drop__content--body">
              <div class="card-drop__content--text">

              </div>
            </div>
          </div>
        </div>
      </ion-item>
  </ion-list>

</ion-content>