<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body onload="loadStudentList()">

<h2> It is student page table</h2>
<div style="display: table">
    <div style="display: table-row">
        <div style="width: 800px;display: table-cell">
            <table border="2">
                <tr>
                    <td style="width: 50px">Id</td>
                    <td style="width: 200px">Name</td>
                    <td style="width: 200px">Age</td>
                    <td style="width: 200px">Student-Code</td>
                    <td style="width: 150px">Action</td>
                </tr>
                <tbody id="tableBodyStudent"></tbody>
            </table>
        </div>
        <div style="width: 400px;display: table-cell">
            <h2>Add New</h2>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" id="addName"/></td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" id="addAge"/></td>
                </tr>
                <tr>
                    <td>Student_Code:</td>
                    <td><input type="text" id="addStudentCode"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button onclick="addStudent()">Add</button>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 400px;display: table-cell">
            <h2>Fix Old Student</h2>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" id="fixName"/></td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" id="fixAge"/></td>
                </tr>
                <tr>
                    <td>Student_Code:</td>
                    <td><input type="text" id="fixStudentCode"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button onclick="fixStudent()">Fixx</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    var backendAPI = "http://localhost:8080/student/";
    var tableBody = $('#tableBodyStudent');
    var addName = $('#addName');
    var addAge = $('#addAge');
    var addStudentCode = $('#addStudentCode');
    var fixName = $('#fixName');
    var fixAge = $('#fixAge');
    var fixStudentCode = $('#fixStudentCode');
    var studentList;
    var editStudentId;

    function loadStudentList() {
        $.ajax(
            {
                type: 'GET',
                url: backendAPI + "viewallStudent",
                dataType: 'json',
                success: function (data) {
                    clearEditStudent();
                    clearAddStudent();
                    studentList = data.data();

                    if (studentList != null) {
                        tableBody.empty();
                        for (var i = 0; i < studentList.length; i++) {
                            var row = studentList[i];
                            tableBody.append("                                <tr>\n" +
                                "                                    <td>" + row.id + "</td>\n" +
                                "                                    <td>" + row.name + "</td>\n" +
                                "                                    <td>" + row.age + "</td>\n" +
                                "                                    <td>" + row.student_code + "</td>\n" +
                                "                                    <td>\n" +
                                "                                        <div class=\"form-group\">\n" +
                                "                                            <button onclick='loadEditStudent(" + i + ")'>Edit</button>\n" +
                                "                                            <button onclick='delStudent(" + row.id + ")'>Delete</button>\n" +
                                "                                        </div>\n" +
                                "                                    </td>");
                        }
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            }
        )
    }

    // vẫn còn mắc lỗi thiếu } và )

    function delStudent(studentId) {
        $.ajax({
            type: 'POST',
            url: backendAPI + "del",
            data: {studentId: studentId},
            dataType: 'json',
            success: function (data) {
                loadStudentList();
            },
            error: function (data) {
                console.log(data);
            }
        })
    }

    function addStudent() {
        var name = addName.val();
        var age = addAge.val();
        var student_code = addStudentCode.val();
        if (name != "" && age != "" && student_code != "") {
            $.ajax({
                type: 'POST',
                url: backendAPI + "add",
                data: {name: name, age: age, student_code: student_code},
                dataType: 'json',
                success: function (data) {
                    loadStudentList();
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }
    }

    function clearAddStudent() {
        addName.val("");
        addAge.val("");
        addStudentCode.val();
    }

    //Vẫn chưa nắm rõ các function
    function loadEditStudent(i) {
        var editStudent = studentList[i];
        editStudentId = editStudent.id;
        fixName.val(editStudent.name);
        fixAge.val(editStudent.age);
        fixStudentCode.val(editStudent.student_code);
    }

    function clearEditStudent() {
        editStudentId = -1;
        fixName.val("");
        fixAge.val("");
        fixStudentCode.val("");
    }

    function fixStudent() {
        var name = fixName.val();
        var age = fixAge.val();
        var student_code = fixStudentCode.val();
        if (editStudentId > 0 && name != "" && age != "" && student_code != "") {
            $.ajax({
                type: 'POST',
                url: backendAPI + "fix",
                data: {empId: editEmpId, name: name, age: age, student_code: student_code},
                dataType: 'json',
                success: function (data) {
                    loadStudentList();
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }
    }

</script>
</body>
</html>

