<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body onload="loadEmpList()">

<h2>Employee Page</h2>
<div style="display: table">
    <div style="display: table-row">
        <div style="width: 600px;display: table-cell">
            <table border="1">
                <tr>
                    <td style="width: 50px">Id</td>
                    <td style="width: 200px">Name</td>
                    <td style="width: 200px">Phone</td>
                    <td style="width: 150px">Action</td>
                </tr>
                <tbody id="tableBodyEmployye"></tbody>
            </table>
        </div>
        <div style="width: 400px;display: table-cell">
            <h2>Add New</h2>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" id="addName"/></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" id="addPhone"/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" id="addPassword"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button onclick="addEmp()">Add</button>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 400px;display: table-cell">
            <h2>Edit Old</h2>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" id="fixName"/></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" id="fixPhone"/></td>
                </tr>
                <tr >
                    <td>Password:</td>
                    <td><input type="text" id="fixPassword" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button onclick="fixEmp()">Fix</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    var backendAPI = "http://localhost:8080/api/";
    var tableBody = $('#tableBodyEmployye');
    var addName = $('#addName');
    var addPhone = $('#addPhone');
    var addPassword = $('#addPassword');
    var fixName = $('#fixName');
    var fixPhone = $('#fixPhone');
    var fixPassword = $('#fixPassword');
    var empList;
    var editEmpId;


    function loadEmpList() {
        $.ajax(
            {
                type: 'GET',
                url: backendAPI + "viewall",
                dataType: 'json',
                success: function (data) {
                    clearEditEmp();
                    clearAddEmp();
                    empList = data.data;

                    if (empList != null) {
                        tableBody.empty();
                        for (var i = 0; i < empList.length; i++) {
                            var rowData = empList[i];
                            tableBody.append("                                <tr>\n" +
                                "                                    <td>" + rowData.id + "</td>\n" +
                                "                                    <td>" + rowData.name + "</td>\n" +
                                "                                    <td>" + rowData.phone + "</td>\n" +

                                "                                    <td>\n" +
                                "                                        <div class=\"form-group\">\n" +
                                "                                            <button onclick='loadEditEmp(" + i + ")'>edit</button>\n" +
                                "                                            <button onclick='delEmp(" + rowData.id + ")'>delete</button>\n" +
                                "                                        </div>\n" +
                                "                                    </td>");
                        }
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            }
        )
    }

    function delEmp(empId) {
        $.ajax({
            type: 'POST',
            url: backendAPI + "del",
            data: {empId: empId},
            dataType: 'json',
            success: function (data) {
                loadEmpList();
            },
            error: function (data) {
                console.log(data);
            }
        })
    }

    function addEmp() {
        var name = addName.val();
        var phone = addPhone.val();
        var password = addPassword.val();
        if (name != "" && phone != "" && password !="") {
            $.ajax({
                type: 'POST',
                url: backendAPI + "add",
                data: {name: name, phone: phone, password: password},
                dataType: 'json',
                success: function (data) {
                    loadEmpList();
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }
    }

    function clearAddEmp() {
        addName.val("");
        addPhone.val("");
        addPassword.val();
    }

    function loadEditEmp(i) {
        var editEmp = empList[i];
        editEmpId = editEmp.id;
        fixName.val(editEmp.name);
        fixPhone.val(editEmp.phone);
        fixPassword.val(editEmp.password);
    }

    function clearEditEmp() {
        editEmpId = -1;
        fixName.val("");
        fixPhone.val("");
        fixPassword.val("");
    }

    function fixEmp() {
        var name = fixName.val();
        var phone = fixPhone.val();
        var password = fixPassword.val();
        if (editEmpId > 0 && name != "" && phone != "" && password != "") {
            $.ajax({
                type: 'POST',
                url: backendAPI + "fix",
                data: {empId: editEmpId, name: name, phone: phone, password: password},
                dataType: 'json',
                success: function (data) {
                    loadEmpList();
                },
                error: function (data) {
                    console.log(data);
                }
            })
        }
    }
</script>
</body>
</html>
