<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
    <meta name="viewport"
          content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no;user-scalable=0;"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>

<div class="container" style="width:90%">
    <div class="row ">
        <div class="form-group">
            <label>color</label>
            <input type="color" class="form-control" value="#FF8040"/>
        </div>
    </div>
    <div class="row ">
        <div class="form-group">
            <label>date</label>
            <input type="date" class="form-control"/>
        </div>
    </div>
    <div class="row ">
        <div class="form-group">
            <label>datetime-local</label>
            <input type="datetime-local" class="form-control"/>
        </div>
    </div>
    <div class="row ">
        <form class="form-group" action="">
            <label>email</label>
            <input type="email" class="form-control"/>
            <input type="submit" class="btn btn-default">
        </form>
    </div>
    <div class="row ">
        <div class="form-group">
            <label>month</label>
            <input type="month" class="form-control"/>
        </div>
    </div>
    <div class="row ">
        <div class="form-group">
            <label>number</label>
            <input type="number" class="form-control"/>
        </div>
    </div>
    <div class="row ">
        <label>range</label><br/>
        <input type="range" class="form-control" min="0" max="100" value="50" onchange="setSpnRange(this)"/><br/>
        <input type="text" class="form-control" disabled id="spnOutput" value="50"/>
    </div>
    <div class="row ">
        <div class="form-group">
            <label>search</label>
            <input type="search" class="form-control"/>
        </div>
    </div>
    <div class="row ">
        <div class="form-group">
            <label>tel</label>
            <input type="tel" class="form-control"/>
        </div>
    </div>
    <div class="row ">
        <div class="form-group">
            <label>url</label>
            <input type="url" class="form-control"/>
        </div>
    </div>
    <div class="row ">
        <div class="form-group">
            <label>week</label>
            <input type="week" class="form-control"/>
        </div>
    </div>
</div>

<script>
    function setSpnRange(rngInput) {
        document.getElementById('spnOutput').value = rngInput.value;
    }

</script>
</body>
</html>